form {
    width: 400px;
    border: 3px solid #f1f1f1;
    margin: 0 auto;
}
.header{
    width: 100%;
    margin: 50px auto 0px;
    padding: 14px;
    color: #white;
    text-align: center;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #white;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.input {
    padding:  2px 6px;
}
.error {
    color: #FF0000;
}
h1 
{font-family: "Montserrat", sans-serif;
 text-align: center;}
